{% load static %}
<html>
<head>
<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "strelka.css" %}" rel="stylesheet">
</head>
<body>
<div class="strelka">
<p>{{question.like}}
<button style="
    height: 18px;
    width: 36px;
    margin: -25.5px 42px 0px;
"><img src="/static/strelka1.png" style="
    height: 13px;
    width: 21px;
    margin: -1px;
"></button>
<button style="
    margin: -7.4px 42px 0px;
    height: 18px;
    width: 36px;
    "><img src="/static/strelka2.png" style="
    margin: 0 0 1;
    height: 13px;
    width: 21px;
"></button>
	</p>
</div>
</body>
</html>